body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Центровщик */
.container {
  margin: 0 auto;
  width: 1200px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}


/* Декорация ссылок */
.list-decoration {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}


/* Логотип */
.main-header-logo {
  position: absolute;
  top: 0;
  transform: translate(-50%);
  z-index: 1;
}


/* Навигация */
.main-navigation {
  background-color: #ffffff;
}

.main-navigation-items a {
  color: #000000;
}

.main-navigation-items a:hover,
.main-navigation-items a:focus {
  color: #81b3d2;
}

.main-navigation-items a:active {
  color: #000000;
  opacity: 0.3;
}

.main-navigation-items {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1056px;
  height: 56px;
}

.main-navigation-info {
  text-align: left;
  width: 240px;
}

.main-navigation-foto {
  text-align: left;
  padding-left: 3px;
  width: 288px;
}

.main-navigation-map {
  text-align: right;
  padding-right: 4px;
  width: 288px;
}

.main-navigation-hotels {
  text-align: right;
  width: 240px;
}


/* Основное изображение, текст */
.intro {
  background-image:
    url("../img/intro-mask.svg"),
    url("../img/background-photo.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 452px, center -83px;
  height: 509px;
}

.welcome-image {
  margin-top: 76px;
}

.intro-text {
  margin: 0 auto;
  width: 493px;
  height: 215px;
}

.intro-text p:first-child {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 25px;
  font-size: 21px;
  font-weight: 700;
}

.intro-text p:last-child {
  margin: 0;
  font-weight: 400;
  color: #333333;
}


/* Блок "причины" */
.reasons-items {
  display: flex;
  flex-wrap: wrap;
}

.reason-item-long {
  display: flex;
  height: 256px;
}

.reason-item-blue {
  background-color: #81b3d2;
  color: #ffffff;
  width: 400px;
}

/* ---- */

.reasons-items-title {
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 20px;
  width: 160px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.reasons-items-text {
  margin: 20px auto;
  width: 305px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.reason-item-long img {
  width: 800px;
  height: 256px;
  object-fit: cover;
  object-position: 0 -78px;
}

/* ---- */

.reason-item-small {
  background-color: #eeeeee;
  height: 256px;
  width: 400px;
}

/* ---- */

.reasons-items-mini {
  display: flex;
}

.reason-item-point {
  position: relative;
  background-color: #ffffff;
  height: 330px;
  width: 400px;
}

.housing::before {
  content: "";
  position: absolute;
  top: 60px;
  right: 162px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 76px;
  height: 72px;
}

.food::before {
  content: "";
  position: absolute;
  top: 61px;
  right: 163px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 74px;
  height: 70px;
}

.souvenirs::before {
  content: "";
  position: absolute;
  top: 56px;
  right: 168px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 64px;
  height: 76px;
}

.reasons-mini-title {
  margin: 0 auto;
  margin-top: 161px;
  margin-bottom: 20px;
  width: 160px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.reasons-mini-text {
  margin: 24px auto;
  width: 305px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}


/* Кнопка поиска*/
.search-intro-text {
  height: 291px;
}

.search-title {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.search-intro-btn {
  margin-top: 33px;
  background-color: #766357;
  color: #ffffff;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}


/* Форма поиска*/
.form-search {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  width: 568px;
  height: 395px;
  z-index: 2;
}

/* ---- */

.form-search-container {
  position: relative;
  margin: 55px auto;
  width: 458px;
  height: 285px;

  outline: 1px solid #666;
}

.fields-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 173px;
}

.fields-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  margin: 0;
}

.fields-container .input-calendar {
  box-sizing: border-box;
  padding-left: 13px;
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}


.fields-container .calendar-btn {
  position: absolute;
  top: 6px;
  right: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ---- */

.input-adults-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.input-adults-wrapper .input-adults,
.input-adults-wrapper .input-children {
  margin: auto;
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}


.fields-container .minus-btn,
.fields-container .plus-btn {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  color: #a9a9a9;
  border: none;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.input-adults-wrapper:first-child .minus-btn {
  margin-left: 40px;
}

.input-adults-wrapper:last-child .minus-btn {
  margin-left: 26px;
}

/* ---- */

.submit-btn {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 54px;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}


















/* Карта */
.map iframe {
  border: 0;
  z-index: 0;
}


/* Подвал */




/* 2 страница */
/* Формы поиска отелей */
































/*
 {  outline: 1px solid #666;  }
*/
