body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Центровщик */
.container {
  margin: 0 auto;
  width: 1200px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}


/* Декорация ссылок */
.list-decoration {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}


/* Логотип */
.main-header-logo {
  position: absolute;
  top: 0;
  transform: translate(-50%);
  z-index: 1;
}


/* Навигация */
.main-navigation {
  background-color: #ffffff;
}

.main-navigation-items a {
  color: #000000;
}

.main-navigation-items a:hover,
.main-navigation-items a:focus {
  color: #81b3d2;
}

.main-navigation-items a:active {
  color: #000000;
  opacity: 0.3;
}

.main-navigation-items {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1056px;
  height: 56px;
}

.main-navigation-info {
  text-align: left;
  width: 240px;
}

.main-navigation-foto {
  text-align: left;
  padding-left: 3px;
  width: 288px;
}

.main-navigation-map {
  text-align: right;
  padding-right: 4px;
  width: 288px;
}

.main-navigation-hotels {
  text-align: right;
  width: 240px;
}


/* Основное изображение, текст */
.intro {
  background-image:
    url("../img/intro-mask.svg"),
    url("../img/background-photo.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 452px, center -83px;
  height: 509px;
}

.welcome-image {
  margin-top: 76px;
}

.intro-text {
  margin: 0 auto;
  width: 493px;
  height: 215px;
}

.intro-text p:first-child {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 25px;
  font-size: 21px;
  font-weight: 700;
}

.intro-text p:last-child {
  margin: 0;
  font-weight: 400;
  color: #333333;
}


/* Блок "причины" */
.reasons-items {
  display: flex;
  flex-wrap: wrap;
}

.reason-item-long {
  display: flex;
  height: 256px;
}

.reason-item-blue {
  background-color: #81b3d2;
  color: #ffffff;
  width: 400px;
}

/* ---- */

.reasons-items-title {
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 20px;
  width: 160px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.reasons-items-text {
  margin: 20px auto;
  width: 305px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.reason-item-long img {
  width: 800px;
  height: 256px;
  object-fit: cover;
  object-position: 0 -78px;
}

/* ---- */

.reason-item-small {
  background-color: #eeeeee;
  height: 256px;
  width: 400px;
}

/* ---- */

.reasons-items-mini {
  display: flex;
}

.reason-item-point {
  position: relative;
  background-color: #ffffff;
  height: 330px;
  width: 400px;
}

.housing::before {
  content: "";
  position: absolute;
  top: 60px;
  right: 162px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 76px;
  height: 72px;
}

.food::before {
  content: "";
  position: absolute;
  top: 61px;
  right: 163px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 74px;
  height: 70px;
}

.souvenirs::before {
  content: "";
  position: absolute;
  top: 56px;
  right: 168px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 64px;
  height: 76px;
}

.reasons-mini-title {
  margin: 0 auto;
  margin-top: 161px;
  margin-bottom: 20px;
  width: 160px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.reasons-mini-text {
  margin: 24px auto;
  width: 305px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}


/* Кнопка поиска*/
.search-intro-text {
  height: 291px;
}

.search-title {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.search-intro-btn {
  margin-top: 33px;
  background-color: #766357;
  color: #ffffff;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}


/* Форма поиска*/
.form-search {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  width: 568px;
  height: 395px;
  z-index: 2;
}

/* ---- */

.form-search-container {
  position: relative;
  margin: 55px auto;
  width: 458px;
  height: 285px;
}

.fields-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 173px;
}

.fields-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  margin: 0;
}

.fields-container .input-calendar {
  box-sizing: border-box;
  padding-left: 13px;
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}


.fields-container .calendar-btn {
  position: absolute;
  top: 6px;
  right: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ---- */

.input-adults-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.input-adults-wrapper .input-adults,
.input-adults-wrapper .input-children {
  margin: auto;
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}


.fields-container .minus-btn,
.fields-container .plus-btn {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  color: #a9a9a9;
  border: none;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.input-adults-wrapper:first-child .minus-btn {
  margin-left: 40px;
}

.input-adults-wrapper:last-child .minus-btn {
  margin-left: 26px;
}

/* ---- */

.submit-btn {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 54px;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}


/* Карта */
.map iframe {
  border: 0;
  z-index: 0;
}


/* 2 страница */
/* Формы поиска отелей */
.search-section {
  height: 217px;
  background-color: #81b3d2;
  background-image: url(../img/filter-background.jpg);
  background-position: 0 -56px;
  text-align: left;
}

.search-form {
  display: flex;
  justify-content: flex-start;
  padding: 27px 72px;
}

.search-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.search-form fieldset:first-child {
  width: 145px;
  margin-right: 110px;
}

.search-form fieldset:nth-child(2) {
  width: 160px;
  margin-right: 110px;
}

.search-form legend {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 25px;
}

.search-form ul {
  margin: 0;
}

.fieldset-item input[type=checkbox] {
  display: none;
}

.fieldset-item {
  margin-bottom: 25px;
  padding-left: 40px;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  cursor: pointer;
}

.fieldset-item:last-child {
  margin-bottom: 0;
}

.fieldset-item label {
  display: block;
  position: relative;
  cursor: pointer;
}

.fieldset-item-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
}

.fieldset-item-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
}

.fieldset-item-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
}

.fieldset-item-checkbox:checked:disabled + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
}

/* ---- */

.filter-range {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 0;
  margin-left: 213px;
  width: 318px;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.filter-range legend {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls label {
  display: inline-block;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  padding-top: 5px;
  padding-left: 65px;
  width: 90px;
  height: 26px;
}

.price-controls .max-price {
  margin-left: 2px;
  padding-left: 52px;
  width: 96px;
}

.price-controls input {
  width: 55px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}


.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background: #ffffff;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  width: 5px;
  height: 5px;
}

.transparent-btn {
  display: block;
  margin: 0;
  margin-left: 85px;
  padding: 6px 35px;
  width: 137px;
  height: 36px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.transparent-btn:hover {
  color: #000000;
  background: #ffffff;
}


/* Список, сортировка */
.sorting {
  height: 77px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting-list {
  display: flex;
  align-items: baseline;
  margin: 0;
  margin-top: 9px;
  padding-left: 72px;
  padding-right: 73px;
}

.sorting-list-found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-list-selection {
  padding-left: 48px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-list-items {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-left: 39px;
  width: 240px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-list-items a {
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-list-items .sorting-list-active {
  color: #81b3d2;
  opacity: 1.0;
  border-bottom: none;
}

.sorting-list-items a:hover,
.sorting-list-items a:focus {
  color: #81b3d2;
  opacity: 1.0;
}

.sorting-list-items a:active {
  color: #000000;
  border-bottom: none;
}

/* ---- */

.sorting-list-buttons {
  margin-left: auto;
}

.sorting-button-down {
  margin-left: 8px;
}

.sorting-button-up path,
.sorting-button-down path {
  fill: #cacaca;
}

.sorting-button-active path {
  fill: #81b3d2;
}

.sorting-button-up path:hover,
.sorting-button-down path:hover {
  fill: #231f20;
}

.sorting-button-up path:active,
.sorting-button-down path:active {
  fill: #81b3d2;
}

/* ---- */

.hotels-list {
  display: flex;
  flex-direction: column;
}

.hotel-description {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-description img {
  margin-left: 72px;
}

.hotel-description-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 30px;
  width: 259px;
}

.hotel-title {
  margin-top: -5px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-text {
  margin-top: -8px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-text span {
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  margin-right: 3px;
  text-align: left;
}

.hotel-description-btn a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.hotel-description-btn {
  display: flex;
  justify-content: flex-start;
  height: 27px;
}

.button-more {
  margin-right: 6px;
  padding-top: 3px;
  width: 110px;
  background-color: #81b3d2;
}

.button-reserve {
  padding-top: 3px;
  width: 142px;
  background-color: #766357;
}

/* ---- */





































/* Подвал */
.main-footer {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;

  height: 120px;
  background-color: #ffffff;
  opacity: 0.9;



margin-top: 10px; /* Убрать */


  outline: 1px solid #666;
}




































/*
 {  outline: 1px solid #666;  }
*/
